body {
    background: #fff;
    margin: 0;
}

a{
    color: #3a5169;
    text-decoration: none;
}
#header {
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease-in-out;
    padding: 20px 0;
}

#logo{
    font-weight: bold;
    margin-left: 20px;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 10px;
    height: 40px;
    line-height: 40px;
}

#nav .break {
    display: none;
}

#nav li {
    display: inline-block;
    position: relative;
    margin: 0 0.6em;
}

#nav .nav-link {
    cursor: pointer;
}

#nav .nav-dropdown {
    box-sizing: border-box;
    max-height: calc(100vh - 61px);
    overflow-y: scroll;
    position: absolute;
    top: 100%;
    right: -15px;
    background-color: #fff;
    padding: 10px 0;
    border: 1px solid #ddd;
    border-bottom-color: #ccc;
    text-align: left;
    border-radius: 4px;
    white-space: nowrap;
}

#nav .nav-dropdown li {
    line-height: 1.8em;
    margin: 0;
    display: block;
}

#nav .nav-dropdown li > ul {
    padding-left: 0;
}

#nav .nav-dropdown li:first-child h4 {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
}

#nav .nav-dropdown a,
#nav .nav-dropdown h4 {
    padding: 0 24px 0 20px;
}

#nav .nav-dropdown h4 {
    margin: 0.45em 0 0;
    padding-top: 0.45em;
    border-top: 1px solid #eee;
}

#nav .nav-dropdown a {
    color: #3a5169;
    font-size: 0.9em;
    display: block;
}

#nav .nav-dropdown a:hover {
    color: #42b983;
}

#nav .arrow {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    margin-left: 6px;
    margin-right: -14px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #ccc;
}

.dropdown-enter, .dropdown-leave-active {
    opacity: 0;
}
.dropdown-enter-active, .dropdown-leave-active {
    transition: opacity .5s;
}